/* font style link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* base part start */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin: 87px 120px;
}
.primary-btn{
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 41px;
    border: none;
}
/* animation parts */
.hover-anima{
   position: relative;
   white-space: nowrap;
}
.hover-anima:hover::before{
    content: 'Influencer';
    position: absolute;
    top: 0;
    left: 0;
    color: #E02C6D;
    animation: typing 2s linear infinite;
}
@keyframes typing {
    0%{
        content: 'I|';
    }
    7%{
        content: 'In|';
    }
    14%{
        content: 'Inf|';
    }
    21%{
        content: 'Infl|';
    }
    28%{
        content: 'Influ|';
    }
    35%{
        content: 'Influe|';
    }
    42%{
        content: 'Influen|';
    }
    49%{
        content: 'Influenc|';
    }
    56%{
        content: 'Influence|';
    }
    63%{
        content: 'Influencer|';
    }
    68%,
    88%{
        content: 'Influencer|';
    }
    88%{
        content: 'Influencer|';
    }
    89%{
        content: 'Influence|';
    }
    90%{
        content: 'Influenc|';
    }
    91%{
        content: 'Influen|';
    }
    92%{
        content: 'Influe|';
    }
    93%{
        content: 'Influ|';
    }
    94%{
        content: 'Infl|';
    }
    95%{
        content: 'Inf|';
    }
    96%{
        content: 'In|';
    }
    97%{
        content: 'I|';
    }
    98%{
        content: '|';
    }
    99%{
        content: '|';
    }
    100%{
        content: '|';
    }
    
}
/* this is front part */
.banner{
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 40px;
}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.head-main{
    white-space: nowrap;
}
.banner-left h1{
    font-size: 52px;
    color: #3A3A3A;
}
.banner-left p{
    margin: 16px 0px;
    font-size: 16px;
    color: #3A3A3A;
    line-height: 1.4;
}
.banner-right img{
    width: 100%;
}

/* this is collection part */
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.product{
    width: 329px;
    height: 476px;
    box-shadow: 0 1px 2px 2px gainsboro;
    padding: 15px;

}
.product-img img{
    width: 100%;
    /* height: 256px; */
    border-radius: 5px;

}
/* 2nd container  */
.container-second{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.product-title{
    margin-top: 100px;
    margin-bottom: 30px;
}
.product-detail{
    padding: 8px;
}
.fa-star.filled{
    color: #FB8200;
}
.fa-star.empty{
    color: gainsboro;
}
#see-option{
    color: #E02C6D;
    display: flex;
    flex-direction: row-reverse;
}


/* this is footer part */
footer{
    background-color: #0A0826;
    color: white;
    line-height: 1.5;
    margin-top: 200px;
}
.footer-title{
    text-align: center;
    padding-top: 50px;
    font-size: 24px;
}
footer p{
    text-align: center;
}
.site-symbol{
    text-align: center;
    padding-bottom: 50px;
}
.site-symbol .fab{
    margin-right: 16px;
}


/* order part it is */
.order-form{
    display: flex;
    flex-direction: column;
    width: 250px;
    border: none;
}
.order-form input{
    border: 2px solid black;
    margin-top: 10px;
    font-size: 1.1em;
    padding-left: 8px;
    border-radius: 10px;
}
fieldset{
    border: 2px solid black ;
    padding-left: 8px;
    border-radius: 10px;
    margin-top: 10px;
}
.confirm{
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
}
.delivary-order{
    margin-left: 200px;
}
.delivery-img{
    margin-top: 80px;
}



/* responsibe part are started here */
@media only screen and (max-width: 688px){
    .banner, .product{
        flex-direction: column;
    }
    h1{
        white-space: wrap;
    }
    .products, .banner{
        grid-template-columns: repeat(1,1fr);
    }
    .product{
        margin-left: 50px;
    }
    .banner{
        margin-left: -40px;
        margin-bottom: 200px;
    }
    .delivary-order{
        margin-left: -20px;
        margin-bottom: 450px;
    }
    footer{
        position: absolute;
        width: 100%;
    }
}


/* tablet devices */
@media only screen and (min-width: 688px) and (max-width: 992px){
  .products{
      grid-template-columns: repeat(2,1fr);
  }
  .banner{
      grid-template-columns: repeat(1,1fr);
  }
  .delivary-order{
      margin-bottom: 200px;
  }
  .footer{
      position: absolute;
  }
}
